$grey: #757575;
$light-blue: #b0cce8;
$light-brown: rgb(123, 103, 103);
$pink-primary-color: #ffc8c8;
$skyblue-primary-color: #00aee8;
$turquoise-primary-color: #61dafb;
$white-primary-color: #f2f1f8;