.banner-center {
    display: flex;
    align-items: center;
    margin-top: -16px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #f2f1f8;
    height: 425px;
}

.banner-text {
    padding: 10px;
    font-size: 17px;
}

.cones-img {
    width: 900px;
    height: 425px;
}
