@import '_variables.scss';

.banner-center {
    align-items: center;
    background-color: $white-primary-color;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    height: 500px;
    margin-top: -16px;
    .banner-text {
        font-size: 17px;
        padding: 10px;
    }
    .cones-img {
        height: 500px;
        width: 900px;
    }
}

    
    