@import '_variables.scss';

.banner-center {
    align-items: center;
    background-color: $white-primary-color;
    border-bottom: 1px solid #0000df59;
    border-top: 1px solid #db27604d;
    display: flex;
    .banner-text {
        font-size: 17px;
        padding: 10px;
    }
    .cones-img {
        height: 300px;
        width: 825px;
    }
}

    
    
