@import '_variables.scss';

.ice-cream-card {
    display: flex;
    height: 290px;
    width: 320px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    flex-direction: column;
    padding: 35px;
    font-size: 12px;
    background: url(/images/cup.png);
    background-size: 393px;
    background-repeat: no-repeat;
    opacity: .75;
    
    &:hover {
        opacity: 1;
    }
<<<<<<< HEAD
}
.big-ice-cream-name {
    margin-top: 50px;
    margin-left: 25px;
    font-size: 40px;
}

.ice-cream-name {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 29px;
}

.flavor-img, .popup-flavor-img {
    height: 110px;
    width: 110px;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px grey;
}

.popup-flavor-img {
    margin-top: 25px;
}

.parlor-popup {
    display: flex;
    position: fixed;
    z-index: 2;
    // justify-content: center;
=======
    .ice-cream-name {
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 29px;
    }
}

.parlor-popup {
>>>>>>> 2a92d4c6f21b849ce00ce5bacc1c8b106ee21560
    align-items: center;
    background-color: $pink-primary-color;
    border: 3px solid black;
    bottom: 0;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    padding: 35px;
    background-color: #ffd8d8;
    width: 75%;
=======
>>>>>>> 2a92d4c6f21b849ce00ce5bacc1c8b106ee21560
    height: 80%;
    left: 0;
    margin: auto;
    overflow: scroll;
    padding: 35px;
    position: fixed;
    right: 0;
    top: 0;
    // white-space: nowrap;
    width: 75%;
    z-index: 2;
    .icecream-description {
        margin-top: -10px;
    }
    .big-ice-cream-name {
        margin-left: 25px;
        font-size: 40px;
    }
}

.flavor-img, .popup-flavor-img {
    border-radius: 100%;
    box-shadow: 0 0 2px 2px $grey;
    height: 110px;
    width: 110px;
}









