
.ice-cream-card {
    display: flex;
    height: 290px;
    width: 320px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    flex-direction: column;
    padding: 35px;
}

.flavor-img {
    height: 110px;
    width: 110px;
    border-radius: 100%;
}


.parlor-popup {
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    background-color: blue;
    width: 75%;
    height: 75%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: scroll;
    white-space: nowrap;
}
