@import url('https://fonts.googleapis.com/css?family=Lobster');
@import '_variables.scss';

<<<<<<< HEAD
.header {
    // flex-direction: column;
    font-size: 50px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc8c8;
=======
.header-search-cont {
    align-items: center;
    background-color: $pink-primary-color;
    display: flex;
    font-size: 50px;
    height: 23px;
    justify-content: center;
>>>>>>> 2a92d4c6f21b849ce00ce5bacc1c8b106ee21560
    padding: 50px;
    .title {
        color: $turquoise-primary-color;
        font-family: $title-font;
        font-size: 66px;
        margin-right: 350px;
    }
    .header-svg {
        height: 84px;
        margin-top: -15px;
    }
}



