@import url('https://fonts.googleapis.com/css?family=Lobster');
@import '_variables.scss';

.header-search-cont {
    align-items: center;
    background-color: $pink-primary-color;
    display: flex;
    font-size: 50px;
    height: 23px;
    justify-content: center;
    padding: 50px;
    .title {
        color: $turquoise-primary-color;
        font-family: $title-font;
        font-size: 66px;
        margin-right: 350px;
    }
    .header-svg {
        height: 84px;
        margin-top: -15px;
    }
}



