@import "App";
@import "Card";
@import "CardContainer";
@import "Display";
@import "Header";
@import "index";
@import "ParlorArea";
@import "ParlorCard";
@import "ParlorDetail";
@import "Search";
@import "SearchByParlor";
@import "_variables";
@import "_mixins";
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    font-family: $main-font;
    font-size: 20px;
    letter-spacing: 2px;
}

.bold {
    font-weight: $bold;
}

.italic {
    font-style: italic;
}

button {
    background-color: #FFF;
    border-radius: 15px;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 7px;
    padding: 4.5px 10px;
    outline: none;
}

button {
    &:hover {
        background-color: $light-brown;
        color: #FFF;
        cursor: pointer;
    }
}