@import "App";
@import "Card";
@import "CardContainer";
@import "Display";
@import "Header";
@import "index";
@import "ParlorArea";
@import "ParlorCard";
@import "ParlorDetail";
@import "Search";
@import "_variables";
@import "_mixins";
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

* {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

button {
    margin-top: 7px;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 15px;
    padding: 4.5px;
    background-color: rgb(242, 242, 242);
}

button {
    &:hover {
        background-color: rgb(123, 103, 103);
        color: white;
    }
}