@import '_variables.scss';

// .popup_inner {
//   background: #FFF;
//   bottom: 25%;
//   position: absolute;
//   left: 25%;
//   margin: auto;
//   right: 25%;
//   top: 25%;
// }

.parlor-card {
  align-items: center;
<<<<<<< HEAD
  background-color: #f2f1f8;
  line-height: 75%;
  flex-direction: column;
  border: black 2px solid;
  margin: 10px 15px;
  padding: 5px;
  width: 750px;
}

.parlor-name {
  font-weight: 600;
  margin: 0px 10px;
}

.parlor-details {
  text-align: center;
}
=======
  background-color: $white-primary-color;
  border: black 2px solid;
  display: flex;
  flex-direction: column;
  line-height: 75%;
  margin: 10px 15px;
  padding: 5px;
  width: 750px;
  .parlor-name {
    margin: 0px 10px;
  }
  .parlor-details {
    text-align: center;
  }
}

>>>>>>> 2a92d4c6f21b849ce00ce5bacc1c8b106ee21560
