
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;

}

.parlor-card {
  border: white 2px solid;
  margin: 0px 10px;
}

.parlor-card {
    background-color: blue;
    // background-image: url("public/images/blank-icecream-cup.jpeg");
}