.parlor-detail-card {
  position: fixed;
  z-index: 3;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff8de;
  border: 2px solid black;
  overflow: scroll;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
   a {
      color: #00dadd;
      font-weight: 600;
      font-size: 30px;
    }
    p {
      line-height: 0px;
    }

    img {
      padding-top: 25px;
      padding-bottom: 25px;
      width: 220px;
    }

    ul {
      list-style: none;
      padding: 0;
    }
    li {
      line-height: 100%;
    }
    button {
    height: 50px;
    width: 140px;
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  .bold {
    font-weight: 600;
  }
  .parlor-address {
    font-style: italic;
  }
 }
