.search-input {
    text-align: center;
    margin-left: 7px;
    padding: 6px;
}

.fas {
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 30px;
    padding-left: 10px;
    border: 1px solid grey;
}