.search-input {
    text-align: center;
    margin-left: 7px;
    padding: 6px;
    // width: 409px;
    border: 2px solid #00aee8;
}

.fas {
    background-color: #00aee8;
    border: 2px solid #00aee8;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    border: 1px solid grey;
}